.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
  height: 56px;
  padding: 10px;
}

.letter {
  margin: 0 2px;
}

.word {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .logo {
    font-size: 20px;
    height: 50px;
    padding: 8px;
  }

  .letter {
    margin: 0 1px;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 10px;
    height: 45px;
  }

  .letter {
    margin: 0;
  }

  .word {
    flex-direction: row;
  }
}
